BTECH_2K15_CO_35.pdf
State Bank of India.pdf
Time_Table_CO_A_CG_CV_PR.pdf
*.docx
*.odt
*.odt#
Computer_Graphics/CG_LAB/compiles
Computer_Graphics/CG_LAB/Outputs
SE/SE_LAB/compiles
.ipynb_checkpoints
*/.ipynb_checkpoints/*